 <div id="page">
        <header class="header">
            <img src="./img/banner_hackathon2.jpg" />
            <!-- <div class="container">
                <h1 class="title">Hackathon Universitário</h1>
                <p class="date">01 e 02 de Junho de 2019</p>
            </div> -->
        </header>

        <section class="how-work">
            <div class="container">
                <h3 class="section-title">Como funciona</h3>

                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="how-work--box">
                            <div class="icon">
                                <img src="/img/group.svg">
                            </div>
                            <p>O 2º Hackathon Unifacs está com inscrições abertas. Monte sua equipe e aceite o desafio!</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="how-work--box">
                            <div class="icon">
                                <img src="/img/rocket.svg" style="width: 45px">
                            </div>
                            <p>Desta vez, o tema é a prevenção de desastres ambientais. Sua equipe terá 24 horas para desenvolver um projeto inovador e de impacto na área definida pelo grupo. Vocês deverão projetar e prototipar a ideia!</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="how-work--box">
                            <div class="icon">
                                <img src="/img/calendar.svg">
                            </div>
                            <p>Nosso júri anunciará o projeto vencedor no dia 09 de junho de 2019.</p>
                        </div>
                    </div>
                </div>

                <div class="how-work--btn">
                    <a class="bt bt-primary" href="https://www.sympla.com.br/hackathon-universitario---desafio-ambiental__535766">Inscreva-se!</a>
                </div>
            </div>
        </section>

        <section class="challenge">
            <header class="challenge--header">
                <div class="container">
                    <p class="legend">O Desafio:</p>
                    <h2 class="title">Prevenção de desastres ambientais</h2>
                </div>
            </header>

            <main class="challenge-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <h4 class="title">Desastres ambientais: Como prevenir acidentes e recuperar áreas afetadas?</h4>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <p class="desc">Queremos fomentar o desenvolvimento de iniciativas inovadoras para monitorar e combater os desastres ambientais, além de contribuir com o debate e conscientização sobre o tema.</p>
                            <p class="desc">Diante disso, a nossa proposta é que os participantes do 2º Hackathon Unifacs criem soluções digitais para monitoramento ambiental, prevenção de acidentes, assim como reconstrução (ambiental e econômica) de áreas afetadas por este tipo de desastre.</p>
                        </div>
                    </div>
                </div>
            </main>
        </section>

        <section class="awards">
            <div class="container">
                <h3 class="section-title">Prêmios</h3>
                <div class="awards-slide">
                    <div class="awards--box second">
                            <span class="icon">
                                <img src="/img/trophy-2.svg">
                            </span>
                            <div class="title">2° Lugar</div>
                            <p>Fones bluetooth para os componentes.</p>
                        </div>
                    <div class="awards--box">
                            <span class="icon">
                                <img src="/img/trophy.svg">
                            </span>
                            <div class="title">1° Lugar</div>
                            <p>Passagem e hospedagem para os componentes da equipe realizarem uma visita técnica a empresas inovadoras do estado de Santa Catarina.</p>
                        </div>
                    <div class="awards--box third">
                            <span class="icon">
                                <img src="/img/trophy-3.svg">
                            </span>
                            <div class="title">3° Lugar</div>
                            <p>Licenças para a utilização da plataforma Cronapp</p>
                        </div>
                </div>
            </div>
        </section>

        <section class="infos">
            <div class="container">
                <div class="infos-box">
                    <h3 class="box-title">Saiba tudo o que vai rolar no nosso evento</h3>
                    <a href="" class="bt bt-secondary">Programação Hackathon</a>
                </div>
            </div>
        </section>

        <section class="local">
            <div class="container">
                <div class="row">
                    <h3 class="section-title">Local</h3>
                    
                    <div class="col-lg-12">
                        <div class="local-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.377551154365!2d-38.49233648456445!3d-13.011612464141098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7160353d94b4ff7%3A0x10dffb5ee9bede48!2sUNIFACS+-+PA7!5e0!3m2!1spt-BR!2sbr!4v1559144160702!5m2!1spt-BR!2sbr" width="600" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sign-up--team">
            <div class="container">
                <div class="row">
                    <h3 class="section-title">Como inscrevo meu time?</h3>

                    <div class="btn-box">
                        <a class="bt" href="https://drive.google.com/file/d/1QnPqwJ47DCjaHiJe1sDoCqPX0emMbufe/view">Regulamento</a>
                        <a class="bt bt-primary" href="https://www.sympla.com.br/hackathon-universitario---desafio-ambiental__535766">Inscreva-se!</a>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="partner-box">
                            <span>Parceiros</span>
                            <img src="/img/logo-cronapp.png" alt="Cron App">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="partner-box">
                            <span>Organização</span>
                            <img src="/img/logo-sebrae.png" alt="Sebrae">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="partner-box">
                            <span>Organização</span>
                            <img src="/img/logo-unifacs.png" alt="Unifacs">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>