 <div id="page">
        <header class="header">
            <div class="container">
                <h1 class="title">Hackathon Universitário</h1>
                <p class="date">01 e 02 de Junho de 2019</p>
            </div>
        </header>

        <section class="how-work">
            <div class="container">
                <h3 class="section-title">Como funciona</h3>

                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="how-work--box">
                            <div class="icon">
                                <img src="/img/group.svg">
                            </div>
                            <p>Inscreva-se no Desafio do II HACKATHON Unifacs, monte sua equipe e seja desafiado.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="how-work--box">
                            <div class="icon">
                                <img src="/img/rocket.svg">
                            </div>
                            <p>Planejem algo inovador e que impacte na área que vocês escolherem. Vocês terão 24 horas para projetar e prototipar a ideia de vocês. Fácil né, #SQN !</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="how-work--box">
                            <div class="icon">
                                <img src="/img/calendar.svg">
                            </div>
                            <p>O nosso júri vai escolher no dia 16 de Setembro de 2018 o melhor projeto.</p>
                        </div>
                    </div>
                </div>

                <div class="how-work--btn">
                    <a class="bt bt-primary" href="https://www.sympla.com.br/hackathon-universitario---desafio-ambiental__535766">Inscreva-se!</a>
                </div>
            </div>
        </section>

        <section class="challenge">
            <header class="challenge--header">
                <div class="container">
                    <p class="legend">O Desafio:</p>
                    <h2 class="title">Desastres ambientais</h2>
                </div>
            </header>

            <main class="challenge-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <h4 class="title">Desastres ambientais: A importância de conciliar uma consciência ambiental e desenvolvimento</h4>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <p class="desc">Este ano é ano de eleição política. Pensando nisso, nós da UNIFACS queremos fomentar iniciativas inovadoras na análise de dados e geração de informação de qualidade para uma eleição mais consciente. As soluções tecnológicas deverão ser desenvolvidas observando o tema: "Construir ferramentas, análises e modelagens, baseadas em dados públicos, que ajudem a sociedade na escolha e no acompanhamento do desempenho dos melhores candidatos na eleição Brasileira.</p>
                        </div>
                    </div>
                </div>
            </main>
        </section>

        <section class="awards">
            <div class="container">
                <h3 class="section-title">O que vou ganhar com isso?</h3>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="awards--box second">
                            <span class="icon">
                                <img src="/img/trophy-2.svg">
                            </span>
                            <div class="title">2° Lugar</div>
                            <p>Fones bluetooth para os componentes.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="awards--box">
                            <span class="icon">
                                <img src="/img/trophy.svg">
                            </span>
                            <div class="title">1° Lugar</div>
                            <p>Passagem e hospedagem para os componentes da equipe realizarem uma visita técnica a empresas inovadoras do estado de Santa Catarina.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="awards--box third">
                            <span class="icon">
                                <img src="/img/trophy-3.svg">
                            </span>
                            <div class="title">3° Lugar</div>
                            <p>Licenças para a utilização da plataforma CronApp</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="infos">
            <div class="container">
                <div class="infos-box">
                    <h3 class="box-title">Saiba tudo o que vai rolar no nosso evento</h3>
                    <a href="" class="bt bt-secondary">Programação Hackathon</a>
                </div>
            </div>
        </section>

        <section class="local">
            <div class="local-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.7938501503504!2d-38.45227708560335!3d-12.985033263596328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7161b73461f4fc1%3A0xf3f5039973eab094!2zUMOzcyBHcmFkdWHDp8OjbyBVbmlmYWNz!5e0!3m2!1spt-BR!2sbr!4v1558967608918!5m2!1spt-BR!2sbr" width="600" height="500" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            </div>
            <div class="local-info">
                <h3 class="section-title">Local</h3>
                <span>UNIFACS PARALELA</span>
                <p>Rua Doutor José Peroba, nº 251, Edf. Civil Empresarial, Sobreloja – STIEP CEP 41770-235, Salvador - BA</p>
            </div>
        </section>

        <section class="sign-up--team">
            <div class="container">
                <div class="row">
                    <h3 class="section-title">Como inscrevo meu time?</h3>

                    <div class="btn-box">
                        <a class="bt" href="https://drive.google.com/file/d/1gZIeLm1QhucXixPXvpCENGPDbAlr37_p/view">Regulamento</a>
                        <a class="bt bt-primary" href="https://www.sympla.com.br/hackathon-universitario---desafio-ambiental__535766">Inscreva-se!</a>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="partner-box">
                            <span>Parceiros</span>
                            <img src="/img/logo-cronapp.png" alt="Cron App">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="partner-box">
                            <span>Organização</span>
                            <img src="/img/logo-sebrae.png" alt="Sebrae">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="partner-box">
                            <span>Organização</span>
                            <img src="/img/logo-unifacs.png" alt="Unifacs">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>