<style title="local">

</style> 
<div class="component-holder ng-binding ng-scope col-lg-12 col-md-12 col-sm-12 col-xs-12" data-component="crn-navbar" id="crn-navbar-986427" ng-show="false"> 
  <nav class="navbar navbar-default"> 
    <div class="container-fluid"> 
      <div class="navbar-header"> 
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> 
        <a class="component-holder ng-binding ng-scope navbar-brand" data-component="crn-image" href="#/home"> <img src="plugins/cronapp-framework-js/dist/img/logo.png" style="max-height:30px; margin-top:-5px" id="crn-navbar-logo" data-component="crn-image"> </a> 
      </div> 
      <div id="navbar" class="navbar-collapse collapse"> 
        <ul class="nav navbar-nav" style="float:none"> 
          <cron-dynamic-menu class="component-holder" data-component="crn-dynamic-menu" options="{subMenuOptions:[{id:1h85bvnhg7511;,name:Home,title:{{'Home.view.Home' | translate}},iconClass:fa fa-home,action:cronapi.screen.changeView('#/home', []),level:1,menuItems:[]}]}">
             Dynamic Menu 
          </cron-dynamic-menu> 
        </ul> 
      </div> 
    </div> 
  </nav> 
</div> 
<section> 
  <div class="component-holder ng-binding ng-scope col-md-12 col-lg-12 col-sm-12 col-xs-12" data-component="crn-image"> 
  </div> 
</section> 
<!-- Topo  --> 
<div ui-view="" class="container-fluid main-view col-lg-12 col-md-12 col-sm-12 col-xs-12" data-container="true" data-replace="false"> 
  <div class="component-holder ng-binding ng-scope col-md-12 col-lg-12 col-sm-12 col-xs-12" data-component="crn-image"> 
    <div class="headHacka" style=" background-image:url('views/img/headHacka.png');"> 
      <h2>Hackathon Universitário</h2> 
      <h3>01 e 02 de Junho de 2019</h3> 
    </div> 
    <!-- Como funciona--> 
  </div>
  <h1 class="text-center col-lg-12 col-xs-12 col-sm-12 col-md-12" xattr-position="h1 text-center" xattr-type="h1" data-component="crn-text-component" id="text-como">Como Funciona</h1> 
  <!--Icones  --> 
  <div data-component="crn-icon" class="col-lg-4 col-sm-4 col-xs-4 col-md-4" id="crn-icon-group"> 
    <i class="fa fa-group fa-5x"></i> 
  </div>
  <h1 class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center text_event" xattr-position="text-center" xattr-type="h1" data-component="crn-text-component" id="text-calen">O nosso júri vai escolher no dia 16 de Setembro de 2018 o melhor projeto.</h1> 
  <div data-component="crn-icon" class="component-holder col-lg-4 col-sm-4 col-xs-4  col-md-4" id="crn-icon70161"> 
    <i class="fa fa-rocket fa-5x"></i> 
  </div> 
  <div data-component="crn-icon" class="component-holder col-lg-4 col-sm-4 col-xs-4  col-md-4" id="crn-icon22681"> 
    <i class="fa fa-calendar fa-5x"></i> 
  </div> 
  <!-- Informações--> 
  <h1 class="text-center col-lg-4 col-md-4 col-sm-4 col-xs-4 text_event" xattr-position="h1 text-center" xattr-type="h1" data-component="crn-text-component" id="text-insc">Increva-se no Desafio do I HACKATHON UNVERSITÁRIO, monte sua equipe e seja desafiado.</h1> 
  <h1 class="col-lg-4 col-sm-4 col-xs-4 col-md-4 text-center text_event" xattr-position="text-center" xattr-type="h1" data-component="crn-text-component" id="text-plan">Planejem algo inovador e que impacte na área que vocês escolherem. Vocês terão 24 horas para projetar e prototipar a ideia de vocês. Fácil né, #SQN !</h1> 
  <div class="component-holder ng-binding ng-scope col-lg-12 col-sm-12 col-xs-12 col-md-1" data-component="crn-image" style="width: 906px; height: 2284px;"> 
    <!--Botão Inscreva-se --> 
    <!-- Imagem Desafio --> 
    <div class="desafio" style="background-image: url(&quot;views/img/challenge.png&quot;); width: 877px; height: 400px;"> 
      <h2>Desastres naturais</h2> 
    </div> 
    <!-- Desafio detalhes--> 
    <h1 class="col-xs-12 col-sm-12 text_event text-center col-lg-10 col-md-12" xattr-position="text-center" xattr-type="h1" data-component="crn-text-component" id="text-tema">Este ano é ano de eleição política. Pensando nisso, nós da UNIFACS queremos fomentar iniciativas inovadoras na análise de dados e geração de informação de qualidade para uma eleição mais consciente. As soluções tecnológicas deverão ser desenvolvidas observando o tema: "Construir ferramentas, análises e modelagens, baseadas em dados públicos, que ajudem a sociedade na escolha e no acompanhamento do desempenho dos melhores candidatos na eleição Brasileira.</h1> 
    <!-- premium event  --> 
    <h1 class="text-center col-lg-12 col-xs-12 col-sm-12 col-md-12" xattr-position="h1 text-center" xattr-type="h1" data-component="crn-text-component" id="text-ganha">O que vou ganhar com isso?</h1> 
    <!-- onde --> 
    <h1 class="text-center col-lg-12 col-xs-12 col-sm-12 col-md-12 textGanha runOnde" xattr-position="h1 text-center" xattr-type="h1" data-component="crn-text-component" id="text-ocorre">Onde o hackathon ocorrerá?</h1> 
    <h1 class="text-center component-holder col-lg-12 col-xs-12 col-sm-12 col-md-12" xattr-position="h1 text-center" xattr-type="h1" data-component="crn-text-component" id="crn-text-component-272343">Como inscrevo meu time?</h1> 
    <!-- inscreveTime --> 
    <h1 class="text-center col-lg-12 col-xs-12 col-sm-12 col-md-12 textGanha" xattr-position="h1 text-center" xattr-type="h1" data-component="crn-text-component" id="crn-text-component22311">Como inscrevo meu time?</h1> 
    <div class="ng-binding ng-scope col-lg-6 col-md-6 col-sm-6 col-xs-6" data-component="crn-button" id="crn-button-185369"> 
      <button class="btn btn-default k-button btn-lg" ng-click="" xattr-size="btn-lg" xattr-fullsize="" xattr-theme="btn-default" xattr-disabled=""><i class=""></i> <span>Regulamento</span></button> 
    </div> 
    <div class="component-holder ng-binding ng-scope col-lg-6 col-md-6 col-sm-6 col-xs-6" data-component="crn-button" id="crn-button-886044"> 
      <button class="btn btn-default k-button" ng-click="" xattr-size="" xattr-fullsize="" xattr-theme="btn-default" xattr-disabled=""><i class=""></i> <span>Inscreva-se!</span></button> 
    </div> 
  </div> 
  
  <!-- FIGMA PROJECT BASED https://www.figma.com/file/a3T3xyouMzWO2eaGIcuONT5B/Landing-page-hackacron -->
  <!--div class="modal fade col-lg-12 col-md-12 col-sm-12 col-xs-12" id="modalPassword"> 
    <div class="modal-dialog"> 
      <div class="modal-content"> 
        <div class="modal-header"> 
          <button type="button" class="close" data-dismiss="modal" aria-label="{{'Home.view.Close' | translate}}"><span aria-hidden="true">×</span></button> 
          <h4 class="modal-title">{{"Home.view.ChangePassword" | translate}}</h4> 
        </div> 
        <div class="modal-body"> 
          <form class="form-validation" autocomplete="off" name="form" role="form"> 
            <div class="text-danger wrapper text-center" ng-show="authError"> 
            </div> 
            <div class="list-group list-group-sm"> 
              <div class="list-group-item"> 
                <input type="password" class="form-control no-border" id="oldPassword" placeholder="{{'Home.view.Old Password' | translate}}"> 
              </div> 
              <div class="list-group-item"> 
                <input type="password" class="form-control no-border" id="newPassword" placeholder="{{'Home.view.New Password' | translate}}"> 
              </div> 
              <div class="list-group-item"> 
                <input type="password" class="form-control no-border" id="newPasswordConfirmation" placeholder="{{'Home.view.Confirmation' | translate}}"> 
              </div> 
            </div> 
          </form> 
        </div> 
        <div class="modal-footer"> 
          <button class="btn btn-primary" type="submit" ng-click="changePassword()" ng-disabled="form.$invalid || vm.dataLoading">{{"Home.view.ChangePassword" | translate}}</button> 
          <button type="button" class="btn btn-default" data-dismiss="modal">{{'Home.view.Close' | translate}}</button> 
        </div> 
      </div> 
    </div> 
  </div--> 
</div>